/* Write your CSS here */
.greet1 {
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  height: 100vh;
}
.greet2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greet3 {
  color: rgb(37, 70, 218);
  font-size: large;
  font-weight: bold;
}
.button {
  background-image: linear-gradient(lightblue, gold);

  color: aliceblue;
  border-width: 0px;
  border-top-left-radius: 25px;
  height: 25px;
}
